// *{
//   outline: 1px solid lightcoral;
// }

body {
  background-color: #f2f2f2;
}

.nav {
  padding: 1rem;
  text-align: center;
  font-weight: 300;
  background-color: #fff;
}

.main {
  width: 100%;
  height: calc(100vh - 40px);
  padding: 0 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vessel {
  max-width: 1440px;
  display: flex;
  justify-content: center;

  &__item {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item:nth-child(2) {
    margin: 0 36px;
  }
}

.u-my-2 {
  margin: 20px 0;
}
.u-my-3 {
  margin: 36px 0;
}

.button__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-outline {
  background-color: transparent;
}

.panel {
  width: 100%;
  max-width: 500px;
  padding: 36px;
  border-radius: 16px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  &__title {
    width: 100%;
    font-size: 24px;
    margin: 16px 0;
    font-weight: bold;
  }
}

.logo {
  width: 160px;
  height: auto;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ad {
  & + & {
    margin-top: 20px;
  }

  &__block {
    display: block;
    max-width: 600px;
    max-height: 500px;
    // margin: 0 24px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.input-group {
  height: 42px;

  .input-group-addon {
    // border: none;
    padding: 12px;
  }

  input {
    height: 100%;
  }
}

@media (max-width: 1200px) {
  .vessel {
    &__item:nth-child(2) {
      margin: 0 20px;
    }
  }
  .u-my-3 {
    margin: 24px 0;
  }
  .panel {
    padding: 28px;
  }
}

@media (max-width: 960px) {
  .main {
    width: 100%;
    height: 100%;
  }

  .vessel {
    flex-direction: column;

    &__item {
      width: 100%;
      margin: 24px 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__item:nth-child(2) {
      margin: 0;
      flex-direction: column;
    }
  }

  .panel {
    max-width: 100%;
  }

  .ad {
    & + & {
      margin-top: 0;
    }

    &__block {
      max-width: 300px;
      max-height: 250px;
      margin: 0 8px;
    }
  }
}
