// *{
//   outline: 1px solid lightcoral;
// }

body {
  // background-color: #f2f2f2;
}

.nav {
  padding: 1rem;
  text-align: center;
  font-weight: 300;
  background-color: #f2f2f2;
}

.main {
  width: 100%;
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vessel {
  display: flex;
  max-width: 1020px;
  padding: 24px;
  justify-content: center;

  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item:nth-child(2) {
    flex: 1.5;
  }
}

.u-my-2 {
  margin: 12px 0;
}

.button__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-outline {
  background-color: transparent;
}

.panel {
  width: 100%;
  padding: 16px 20px;
  border: 1px solid #ccc;
  box-shadow: 5px #ccc;

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  &__title {
    width: 100%;
    font-size: 24px;
    margin: 10px 0;
    font-weight: bold;
  }
}

.logo {
  width: 160px;
  height: auto;
  overflow: hidden;

  img {
   width: 100%;
   height: 100%;
   object-fit: cover; 
  }
}

.ad {
  &+& {
    margin-top: 20px;
  }
  &__block {
    display: block;
    max-width: 600px;
    max-height: 500px;
    margin: 0 24px;
    border: 1px solid gray;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


@media (min-width: 1400px) {
  .ad {
    &__block {
      width: 300px;
      height: 250px;
    }
  }
}

@media (max-width: 960px) {
  .main {
    width: 100%;
    height: 100%;
  }

  .vessel {
    flex-direction: column;
   
    &__item {
      width: 100%;
      margin: 10px 0;
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  
    &__item:nth-child(2) {
      flex: 1;
      flex-direction: column;
    }
  }

  .ad {
    &+& {
      margin-top: 0;
    }

    &__block {
      max-width: 300px;
      max-height: 250px;
      margin: 0 8px;
    }
  }

}