// * {
//   outline: 1px solid lightcoral;
// }

body {
  background-color: #f2f2f2;
}

.nav {
  padding: 1rem;
  text-align: center;
  font-weight: 300;
  background-color: #fff;
}

.main {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-my-2 {
  margin: 20px 0;
}

.u-my-3 {
  margin: 36px 0;
}

.button__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-outline {
  background-color: transparent;
}

.input-group {
  height: 42px;

  .input-group-addon {
    padding: 12px;
  }

  input {
    height: 100%;
  }
}

.logo {
  width: 160px;
  height: auto;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.vessel {
  max-width: 1440px;
  height: 100%;

  &__item {
    width: 100%;
    display: flex;
  }

  &__item:nth-child(2) {
    margin-top: -160px;
    justify-content: space-around;
  }
}

.panel {
  min-height: 400px;
  padding: 28px;
  border-radius: 16px;
  border: none;

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  &__title {
    width: 100%;
    font-size: 24px;
    margin: 16px 0;
    font-weight: bold;
  }

  &--hidden {
    background-color: transparent;
    box-shadow: none;
  }
}

.ad {
  flex: 1;
  margin: 0 24px;

  &__block {
    display: block;
    max-width: 600px;
    max-height: 500px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.wrapper {
  flex: 1;
  text-align: center;
}

@media (max-width: 1420px) {
  .vessel {
    &__item:nth-child(2) {
      margin-top: -200px;
    }
  }
}

@media (max-width: 1320px) {
  .vessel {
    &__item:nth-child(2) {
      margin-top: -220px;
    }
  }
}

@media (max-width: 1240px) {
  .vessel {
    &__item:nth-child(2) {
      margin-top: -240px;
    }
  }
}

@media (max-width: 1140px) {
  .main {
    padding: 40px 20px;
  }
  .vessel {
    &__item:nth-child(2) {
      margin-top: -260px;
    }
  }
}

@media (max-width: 1040px) {
  .vessel {
    &__item:nth-child(2) {
      margin-top: -300px;
    }
  }
}

@media (max-width: 980px) {
  .main {
    padding: 20px;
  }
  .vessel {
    max-width: 1440px;
    height: 100%;

    &__item {
      >.ad {
        flex: none;
        box-sizing: border-box;
        max-width: 50%;
        padding: 0 8px;
        margin: 0;

        &__block {
          display: block;
          max-width: 300px;
          max-height: 250px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    &__item:nth-child(1) {
      flex-wrap: wrap;

      >.wrapper {
        order: 3;
        width: 100%;
        min-height: auto;
        margin: 16px 8px;
      }

      >.panel {
        padding: 16px;
      }
    }

    &__item:nth-child(2) {
      margin-top: 0;

      >.panel {
        display: none;
      }
    }
  }
}